In [2]:
from nilearn import datasets
from nilearn.input_data import NiftiLabelsMasker
from nilearn.connectome import ConnectivityMeasure
from argparse import ArgumentParser
import numpy as np
from sklearn.decomposition import PCA
import os
import pandas as pd

In [3]:
feat_file = os.path.join('/users/htamvada/nai', 'ABIDE_BASC064_features.npz')

In [4]:
X_features = np.load(feat_file)['a']

In [5]:
X_features

array([[ 0.651508  ,  0.36743073,  0.31826976, ...,  0.56326686,
         0.53300758,  0.54327946],
       [ 0.53258726,  0.3377011 ,  0.49584742, ...,  0.40197062,
         0.18363887,  0.457722  ],
       [ 0.4190768 ,  0.2041985 ,  0.33218378, ...,  0.78088126,
         0.34119973,  0.56367589],
       ...,
       [ 0.60767136,  0.13870343,  0.21027113, ...,  0.32434371,
         0.05419067,  0.42023549],
       [ 0.11514753,  0.03477415,  0.03612913, ...,  0.39019805,
        -0.09443257, -0.06281977],
       [ 0.4149792 ,  0.28418048,  0.35910961, ...,  0.66591602,
         0.25099767,  0.36904969]])

In [6]:
X_features.shape

(871, 2016)

In [7]:
df = pd.DataFrame(X_features)

In [15]:
small_data = df.iloc[0:10, 1:10]

In [16]:
small_data

,1,2,3,4,5,6,7,8,9
0,0.367431,0.318270,0.637305,0.511556,0.535779,0.250618,0.242679,0.377106,0.466410
1,0.337701,0.495847,0.530000,0.535753,0.396727,0.100174,0.227899,0.061893,0.097763
2,0.204199,0.332184,0.484521,0.321207,0.472287,0.069561,0.140427,0.402594,0.334525
3,0.339643,0.248837,0.630810,0.461284,0.407353,0.144066,0.138546,0.211755,0.165723
4,0.452801,0.654130,0.720536,0.708731,0.616826,0.000000,0.000000,0.000000,0.000000
5,0.221897,0.260489,0.589988,0.422082,0.310526,0.000000,0.000000,0.000000,0.000000
6,0.119757,0.430921,0.567313,0.388425,0.329984,0.045539,0.182808,0.236261,0.115112
7,0.377636,0.374157,0.561212,0.502432,0.432471,0.000000,0.000000,0.000000,0.000000
8,0.407434,0.394317,0.735514,0.565761,0.500832,0.085684,-0.042570,0.235138,0.171282
9,0.518792,0.547602,0.735926,0.677047,0.583227,-0.002159,0.065576,0.066766,0.138146

In [17]:
from ctgan import CTGANSynthesizer
ctgan = CTGANSynthesizer(epochs=10)

In [18]:
ctgan.fit(small_data)

/Users/htamvada/opt/anaconda3/lib/python3.8/site-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (8) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  label = cluster.KMeans(n_clusters=self.n_components, n_init=1,
/Users/htamvada/opt/anaconda3/lib/python3.8/site-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (8) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  label = cluster.KMeans(n_clusters=self.n_components, n_init=1,
/Users/htamvada/opt/anaconda3/lib/python3.8/site-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (8) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  label = cluster.KMeans(n_clusters=self.n_components, n_init=1,
/Users/htamvada/opt/anaconda3/lib/python3.8/site-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (8) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  label = cluster.KMeans(n_clusters=self.n_components, n_init=1,

In [19]:
samples = ctgan.sample(3)

In [20]:
samples

,1,2,3,4,5,6,7,8,9
0,0.442340,0.359444,0.436171,0.330800,0.196415,-0.078592,0.204227,-0.198397,0.560013
1,0.391009,0.295728,0.564703,0.515968,0.334562,-0.022365,0.357952,-0.210135,0.257017
2,0.109537,0.188822,0.693231,0.387123,0.422118,-0.054843,0.227513,-0.143489,0.128700